<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>UpdateListing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">
                Verified!
              </div>
        </div>
        
        
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea name="listing[description]" id="" cols="30" rows="10" type="text" class="form-control" required ><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please enter a Description
              </div>
        </div>
        
        <br>
        <div class="mb-3">
            <h4>Original Image:</h4>
            <br>
            <img src="<%= originalImageUrl %>" alt="">
        </div>
        <br>
        <div class="mb-3">
            <label for="image" class="form-label">Upload new image:</label>
            <input name="listing[image]"  type="file" class="form-control">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Enter Price:</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid Price
              </div>
        </div>
        
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Enter Country:</label>
            <input name="listing[country]" class="form-control"value="<%= listing.country %>" required>
            <div class="invalid-feedback">
                Please enter the country name
              </div>
        </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">Enter location:</label>
            <input name="listing[location]" class="form-control" required value="<%= listing.location %>" type="text" >
            <div class="invalid-feedback">
                Please enter the location
              </div>
        </div>
        
          

        <button class="btn btn-dark add-btn">Edit</button>
    </div>
</div>

<!-- <script src="/js/script.js"></script> -->