<% layout("/layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin: 2rem 0 0 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 1rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    display: flex;
    align-items: center;
    
    border-radius: 20px;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
  }
</style>

<body>
  <div id="filters">
    <div class="filter">
      <div class=""><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div class=""><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>

    <div class="filter">
      <div class=""><i class="fa-solid fa-city"></i></div>
      <p>Iconic cities</p>
    </div>

    <div class="filter">
      <div class=""><i class="fa-solid fa-mountain-city"></i></div>
      <p>Mountains</p>
    </div>

    <div class="filter">
      <div class=""><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>

    <div class="filter">
      <div class=""><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing pools</p>
    </div>
    <div class="filter">
      <div class=""><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div class=""><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div class=""><i class="fa-solid fa-snowflake"></i></div>
      <p>Snow</p>
    </div>
    <div class="filter">
      <div class=""><i class="fa-solid fa-temperature-arrow-down"></i></div>
      <p>Chilly areas</p>
    </div>
    <div class="filter">
      <div class=""><i class="fa-solid fa-place-of-worship"></i></div>
      <p>Place of worship</p>
    </div>
    <div class="filter">
      <div class=""><i class="fa-solid fa-palette"></i></div>
      <p>Creative Spaces</p>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
      </div>
    </div>
  </div>
</body>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-3 mt-3">
        <% for (let listing of allListings) { %>
          <div class="card col listing-card">
            <a href="/listings/<%= listing._id %>" class="listing-link">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay">
                  Expand
                </div>
              <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text">
                  <b><%= listing.title %></b> <br>
                  &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
                  <i class="tax-info">+&nbsp;18% GST</i>
                </p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </a>
          </div>
        <% } %>
    </div>

    <!-- <form method="get" action="/listings/new">
      <button>Create New Listing</button>
    </form>
    <ul>
      <% for (let listing of allListings) { %>
        <li>
          <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
        </li>
      <% } %>
    </ul> -->
</body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () =>{
    let taxInfo = document.getElementsByClassName("tax-info")

    for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }else{
        info.style.display = "none";
      }
    }
  });
</script>